.menu{
    background-image: linear-gradient(0,rgba(0, 0, 0,0.5),rgba(69, 90, 13, 0.5) ),
      url("C:/Demonstration/PolyReact2021/restaurant-project/src/asset/image/banner.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-family:'Times New Roman', Times, serif;
  }
  .header{
      width: 100vw;
      height: 100vh;
    }
.title {
    width: 100%;
    }
.menu .title h2{
    font-size: 70px;
    padding-top: 0px;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 90px;
}
.title p{
  font-size: 30px;
  font-weight: 700;
  color: #cda45e;
  padding-bottom: 15px;
  padding-top: 0;
  text-align: left;
  padding-left: 40px;
}

.menu .menu-item {
  width: calc(100%/3);
  padding: 10px;
  position: relative ; }
 .menu .menu-ht{
   padding-top: 10px;
 }
  .menu .menu-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
   flex-direction: row;
   align-items: center;

  }

  .menu .menu-content .menu-item .menu-img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
  }
  .menu .menu-content .menu-item .menu-img img{
    width: 100%;
    border-radius: 10px;
  }
  
  .menu .menu-content .menu-item a {
    padding-right: 10px;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: white;
    transition: 0.3s;
    text-decoration: none;
    font-size: 20px;
  }
  .menu .menu-content .menu-item a:hover {
    color: #cda45e;
  }
  .menu .menu-content span {
    position: relative;
    padding: 0 10px;
    font-weight: 600;
    font-size: 15px;
    color: #cda45e;
  }
  .menu .menu-content .menu-item .menu-ingredients {
    margin-left: 70px;
    font-style: italic;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }